@model IEnumerable<Videoteka.Models.Kupac>


@{
    ViewBag.Title = "Kupci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kupci</h2>

<table id="kupci" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Kupac</th>
            <th>Tip Clanstva</th>
            <th>Obriši</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var tablica = $("#kupci").DataTable({
                ajax: {
                    url: "/api/kupci",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "naziv",
                        render: function (data, type, kupac) {
                            return "<a href='/kupci/edit/" + kupac.id + "'>" + kupac.naziv + "</a>";
                        }
                    },
                    {
                        data: "tipClanstva.naziv"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-kupac-id=" + data + ">Obriši</button>";
                        }
                    }
                ]
            });

            $("#kupci").on("click", ".js-delete", function () {
                var gumb = $(this);

                bootbox.confirm("Jeste li sigurni da želite obrisati ovog kupca?", function (rezultat) {
                    if (rezultat) {
                        $.ajax({
                            url: "/api/kupci/" + gumb.attr("data-kupac-id"),
                            method: "DELETE",
                            success: function () {
                                tablica.row(gumb.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}