@{
    ViewBag.Title = "Potvrda izmjene lozinke";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Tvoja lozinka je izmjenjena. Molimo @Html.ActionLink("kliknite ovdje za prijavu", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
