@model IEnumerable<Videoteka.Models.Film>

@{
    ViewBag.Title = "Filmovi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filmovi</h2>
<p>
        @Html.ActionLink("Novi Film", "Novi", "Filmovi", null, new { @class = "btn btn-primary" })
</p>
<table id="filmovi" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Film</th>
            <th>Žanr</th>
            <th>Obriši</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var tablica = $("#filmovi").DataTable({
                ajax: {
                    url: "/api/filmovi",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "naziv",
                        render: function(data, type, film) {
                            return "<a href='/filmovi/uredi/" + film.id + "'>" + film.naziv + "</a>";
                        }
                    },
                    {
                        data: "zanr.naziv"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-film-id=" + data + ">Obriši</button>";
                        }
                    }
                ]
            });


            $("#filmovi").on("click", ".js-delete", function () {
                var gumb = $(this);

                bootbox.confirm("Jeste li sigurni da želite obrisati ovaj film?", function (rezultat) {
                    if (rezultat) {
                        $.ajax({
                            url: "/api/filmovi/" + gumb.attr("data-film-id"),
                            method: "DELETE",
                            success: function () {
                                tablica.row(gumb.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}